*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
}
.nav_container{
    height: 80px;
}
.nav_top div:hover{
    border: 1.5px solid white;
}

.nav_bottom div:hover{
    border: 1.5px solid white;
}
.nav_top{
    display: flex;
    background-color: #0f1111;
    height: 55px;
    color: white;
    gap: 2rem;
    align-items: center;
}

.nav_logo{
    width: 10%;
    height: 100%;
    position: relative;
}

.nav_logo img{
    position : absolute;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    
}

.nav_search{
    display: flex;
    height: 80%;
    width: 40%;
    align-items: center;
    margin-top: 0.2rem;
    /* border:1px solid red; */
    border-radius: 0.4rem;
    
}

.nav_search_icon{
    width: 7%;
    height: 100%;
    background-color: rgb(219, 175, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    font-size: 1.2rem;
    color: #0f1111;
}

#nav_category{
    background-color: rgb(240, 233, 233);
    width: fit-content;
    height: 100%;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    border: none;

}

#input_search{
    width: 80%;
    height: 100%;
    border: none;
}
.nav_account{
    display: flex;
    flex-direction: column;
}

.nav_returns_orders{
    display: flex;
    flex-direction: column;
}

.nav_bottom{
   height: 25px;
    background-color: #232f3e;
    display: flex;
    color: white;
    align-items: center;
    gap: 1.5rem;
    
}
.hero_section{
    width: 100vw;
    height: 700px;
    position: absolute;
    z-index: 1;
   
}
.hero_section_image{
    width: 100%;
    height: 100%;
   
    overflow: hidden;
}

.hero_section_image img{
    width: 100%;
    height: 100%;
    position: float;
    object-fit: cover;

}

.notification_bar{
    height: 30px;
    width: 95%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 380px;
    right: 30px;
    z-index: 2;
    background-color: white;
    
}

.notification_bar a{
    text-decoration: none;
}


.amazon_cards{
    display: grid;
    position: absolute;
    top: 440px;
    grid-template-columns: repeat(3,1fr);
    z-index: 2;
    gap: 1.2rem 1.2rem;
    right: 30px;

    width: 95%;
}
.card{
    height: 420px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.6rem;
    padding: 0.4rem;

}

.card p{
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0.4rem;
}
.card_click{
    height: 90%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.2rem;

    
}

.card_click img{
    height: 90%;
    width: 100%;
    padding: 0.4rem;
   
}
.card_click:hover a{
    color: red;
}
.card_click a{
    text-decoration: none;
    padding-left: 0.4rem;
    font-size: 0.85rem;
}
