*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background:#ffffff;
    --light-gray: #f0f0f0;
}
.body_container{
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
    font-family: "Inter", sans-serif;
    text-decoration: none;
}



/* styling the nav and heading elements */
.navigation_bar{
    padding: 1.5em;
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    
}
.navigation_bar a{
    text-decoration: none;
}

.nav_heading{
    display: flex;
    gap: 10px;

}
.navigation_bar .nav_heading a{
    color: rgb(33, 25, 25);
}

.nav_links ul{
    list-style-type: none;
    display: flex;
    gap: 1.3rem;
    font-weight: 700;
    font-size: 0.9rem;
}

@media screen and (max-width:790px){
    .nav_links ul{
        display: none;
    }
}
.nav_links a{
    color: grey;
}

.nav_contact{
    
    border-radius: 5px;
    padding: 0.7rem 1.7rem;
    background-color: rgb(19, 42, 130);
    color: white;
    font-weight: 600;
}


@media screen and (max-width:790px){
    .nav_contact{
        display: none;
    }
}

.hamburger{
    width: 2rem;
    height: 1rem;
    display: none;
}

@media screen and (max-width:790px){
    .hamburger{
       display: block;
    }
}


/* styling the Hero section of the page */


.main_container{
    padding-top: 2rem;
    display: flex;
   
    width: 80%;
    margin: 0 auto;
    gap: 5rem;
    
}

.item{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

@media screen and (max-width:790px){
    .main_container{
        flex-direction: column;
        

    }

   
}
.main_info{
    /* display: flex; */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    animation: slide 1s forwards ;
    opacity: 0;
}

@keyframes slide {
    from{
       transform: translate(-100%);
    }to{
        transform: translate(0);
        opacity: 1;
    }
}
.main_info span{
    font-weight: 600;
    color: blue;
    

}

.main_info h2{
    font-weight: 800;
    font-size: 3rem;
    
}

.main_info p{
    font-weight: 500;
    color: grey;
    
}
.main_info_btns{
    display: flex;
    gap: 2rem;
}
.main_btns{
    background-color:rgb(19, 42, 130); 
    display: block;
    width: 7rem;
    height: 3rem;
    text-align: center;
    border-radius: 5px;
    color: white;
    padding: 0.8rem 0;
    text-decoration: none;
    
}

#take_tour{
    background-color: black;
}
.main_image{
    /* width: 450px;
    height: 450px;  */
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.main_image img{
    position: absolute;
    object-fit: fill;
    width: 100%;
    height: 100%;
}


/* Styling the company section */

.trusted_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slide 1s forwards ;
    
}

.trusted_container h2{
    margin: 3rem 0;
}

.company_container{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    background-color: var(--light-gray);
    padding: 1.25rem;
    border-radius: 1rem;
}

@media screen and (max-width:650px){
    .company_container{
       grid-template-columns: repeat(2,1fr);
       grid-template-rows: repeat(2,1fr);
    }

}
.company-logo{
    width: 20%;
    height: 65%;
}

.company_container a{
    color:grey ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* Styling the cards section */

.card_parent{
    background-color: var(--light-gray);
    width: 100vw;
    padding-bottom: 1.5rem;
}
.cards_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 2rem auto;
    
}

.cards_container h2{
    margin: 1.2rem 0;
    font-weight: 900;
    font-size: 2rem;
}
.cards_container p{
    text-align: center;
    margin-bottom: 1.2rem;
    color: grey;
    font-weight: 400;
}

.cards_section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem 2rem;
}

@media screen and (max-width:790px) {
    .cards_section{
        grid-template-columns: repeat(1,1fr);
    }
    
}

.card{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}



.card p{
    color: white;
    font-size: 16px;
}
.card img{
    width: 11%;
    height: 19%;
    background-color: white;
    padding: 0.3rem;
    border-radius: 2rem;
}

#card1{
    background-color: #4a90e2;
}
#card2{
    background-color: #FF6289;
}
#card3{
    background-color: #fcbf58;
}
#card4{
    background-color: #44bfc3;
}
#card5{
    background-color: #77b05d;
}
#card6{
    background-color: #7d78b1;
}

/* styling the testimonail section */

.testimonial_container{
    text-align: center;
    width: 75%;
    margin: 2rem auto;
}

.testimonial_container h2{
    
}

.testimonial_grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 1.2rem;
}

@media screen and (max-width:790px) {
    .testimonial_grid{
        grid-template-columns: repeat(1,1fr);
    }
    
}
.testimonial_card{
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    border-radius: 0.7rem;
    padding: 1.2rem;
    margin-top: 2rem;
    box-shadow: 0 4px 8px rbga(0,0,0,0.2);
    transition: transform 0.3s ease , box-shadow 0.3s ease;

}

.testimonial_card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rbga(0,0,0,0.2);
    border: 1px solid blue;
}
.testimonial_card p:nth-child(1){
    font-size: 12px;
}
.testomianal_image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
}

.testomianal_image img{
    
    width: 22%;
    height: 100%;
}

.testomianal_info p:nth-child(1){
    color: blue;
    font-weight: 700    ;
    font-size: 16px;

}

.testomianal_info p:nth-child(2){
    color: grey;
    font-weight: 400    ;
    font-size: 12px;

}

.newsletter_container{
    display: flex;
    height: 350px;
    margin: 0 auto;
    width: 80%;
    justify-content: center;
   
}

@media screen and (max-width:790px){
    .newsletter_container{
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
          }

          .newsletter_image{
            width: 100%;
           height: 50%;
            
           
        }

        .newsletter_image img{
            object-fit: cover;
            position: absolute;
            width: 100%;
            height: 100%;
           
           
        }

        .newsletter_info{
           width: 100%;
           max-height: 60%;
           
        }
}

.newsletter_image{
    width: 50%;
    overflow:hidden;
    position: relative;
    
   
}

.newsletter_image img{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
   
   
}
.newsletter_info{
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    padding: 1rem 1.8rem;
    width: 50%;
}

.newslettter_info_title h2{
    color: blue;
    font-size: 2.5rem;
}

.newslettter_info_title p{
    color: grey;
    font-size: 14px;
}

.newsletter_info_input input{
    padding: 0.4rem 0.4rem;
}

.newsletter_info_input a{
    padding: 0.4rem 0.4rem;
    background-color: rgb(19, 42, 130);
    color: white;
    text-decoration: none;
    border-radius: 0.25rem;
}

.newsletter_info_terms span{
    font-size: 11px;
}


.footer_top{
    display: flex;
    list-style-type: none;
    width: 80%;
    margin: 0 auto;
    margin-top: 1.2rem;
   
}
.footer_title{
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    padding: 1.4rem;
}
.footer_title_section{
    display: flex;
    gap: 0.4rem;
}

#footer_title_name{
    font-weight: 700;
    font-size: 16px;
    color: black;
   
}

#footer_desc{
    font-size: 14px;
    color: gray;
}

.footer_top a{
    text-decoration: none;
    color: gray;
    font-size: 14px;
}

.footer_title_links{
    display: flex;
    gap: 1.1rem;
}

.footer_links{
    display: grid;
  
    grid-template-columns: repeat(4,1fr);
    padding: 1.4rem;
    gap: 1.2rem 2.2rem;
}

@media screen and (max-width:790px){
    .footer_links {
        grid-template-columns: repeat(2,1fr);
    }
}



.footer_links_section p{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
}

.footer_links_section a{
    margin: 1.2rem auto;
    display: block;
}

.footer_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.8rem;
    font-size: 14px;
    color: gray;
}